@import '~@fortawesome/fontawesome-free/css/all.css';

.fa-bars {
    font-size: 24px;
    color: white;

  }
  
.mat-toolbar.navbar {
    background-color: #352258;
    color: white;
}

@media (max-width: 600px) {
    .spacer {
      flex: 1 1 auto;
    }
    button {
      display: flex;
    }
  }

